{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Snippet creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('wd_cs_admin_snippet') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
